DISCORD_TOKEN=token_del_bot
GUILD_ID=id_del_servidor
DEFAULT_VOICE=es-LA-female
BOT_COLOR=#ff2f7d
COMMAND_COOLDOWN_MS=3000
MAX_TEXT_LENGTH=250
MAX_QUEUE_SIZE=50
VOICE_TIMEOUT_MS=120000
AUTO_TTS_ENABLED=false
PORT=3000
